<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moonphase">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Moonphase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Widget 1x1 -->
        <receiver
            android:name=".widget.Widget1x1Receiver"
            android:exported="true"
            android:label="@string/widget_1x1_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_1x1" />
        </receiver>

        <!-- Widget 2x1 -->
        <receiver
            android:name=".widget.Widget2x1Receiver"
            android:exported="true"
            android:label="@string/widget_small_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_small" />
        </receiver>

        <!-- Widget 3x1 -->
        <receiver
            android:name=".widget.Widget3x1Receiver"
            android:exported="true"
            android:label="@string/widget_3x1_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_3x1" />
        </receiver>

        <!-- Widget 4x1 -->
        <receiver
            android:name=".widget.Widget4x1Receiver"
            android:exported="true"
            android:label="@string/widget_4x1_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_4x1" />
        </receiver>

        <!-- Widget 2x2 -->
        <receiver
            android:name=".widget.Widget2x2Receiver"
            android:exported="true"
            android:label="@string/widget_medium_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_medium" />
        </receiver>

        <!-- Widget 4x2 -->
        <receiver
            android:name=".widget.Widget4x2Receiver"
            android:exported="true"
            android:label="@string/widget_large_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_large" />
        </receiver>

    </application>

</manifest>
